.saved-palettes {
    width: 90%;
    margin: 0 auto 3rem auto;
}

.saved-palettes h2 {
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.9rem;
}

.palette-name-container {
    display: flex;
    justify-content: space-between;

    padding: 0.5rem 0.5rem 0.5rem 0;
}

.palette h4 {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
}

.palette-colors {
    display: flex;
    justify-content: space-around;

    background-color: #151515;
    padding: 1rem 0.75rem 1rem 0.75rem;

    border-radius: 10px;
}

.color {
    min-width: 42px;
    min-height: 42px;

    border-radius: 100%;
    border: 3px solid #FFFFFF;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.15);
}

@media (min-width: 320px) {
    .saved-palettes-container {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        justify-content: center;
        gap: 1rem;
    }

    .saved-palettes h2 {
        font-size: 1.5rem;
        line-height: 2.25rem;

        margin-bottom: 2.38rem;
    }

    .palette-colors {
        min-width: 353px;
    }
}

@media (min-width: 800px) {
    .palette {
        min-width: 353px;
    }

    .saved-palettes-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1200px) {
    .palette {
        width: 80%;
        max-width: 470px;
    }

    .saved-palettes-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}